{% set global_title = "Set Password"|t %}
{% extends 'members/_layout.twig' %}

{% import '_macros/forms.twig' as forms %}

{% set loginData = craft.members.loginData({
    newPassword: '',
}) %}

{% block content %}

    {{ '<form method="post" accept-charset="UTF-8">' }}

    {{ csrfInput() }}
    {{ actionInput('users/set-password') }}
    {{ hiddenInput('code', code) }}
    {{ hiddenInput('id', id) }}

    {{ forms.textField({
        label: 'Password'|t,
        name: 'newPassword',
        object: loginData,
        type: 'password',
        required: true
    }) }}

    {{ forms.submit('Set Password'|t) }}

    {{ '</form>' }}

{% endblock %}
