{% set lineItem = cart.lineitems[0] %}



{% if not cart.isDonation %}
    <div class="mb-3">
        <a class="btn btn-custom" href="{{ url('buy/order', {id:cart.lineitems[0].purchasable.id}) }}">
            {{ "Edit Order"|t }}
        </a>
    </div>
{% endif %}

<div class="mt-4">
    {% include "buy/_custom/sidebar_details.twig" %}
</div>

<div class="mb-4 mt-4">
    <span class="display-4">{{ cart.total|commerceCurrency(cart.currency) }}</span>
</div>


{% if product is defined %}
    <div class="font-italic mb-4">
        {% for adjustment in cart.adjustments if adjustment.type == 'shipping' %}
            {{ "inc"|t }} {{ adjustment.amount|commerceCurrency(cart.currency) }}
            <strong>{{ adjustment.name|t }}</strong>
        {% endfor %}
        {% if product.deliveryPeriod %}
            <div class="my-2">
                {{ "Approx. Delivery Period: Within"|t }} {{ product.deliveryPeriod }} {{ "days"|t }}
            </div>
        {% endif %}
    </div>
{% endif %}

{% if currentUser and craft.app.request.param('step') == 3 and craft.commerce.customers.customer.orders %}
    {% if currentSite.language[:2] == 'de' %}
        <div class="mt-5">
            <b>Warum muss ich meine Zahlungsinformationen bei jeder Bestellung neu eingeben?</b>
        </div>
        <div class="mt-3">
            Aus Datenschutz- und Sicherheitsgründen speichern wir Ihre Kreditkartendaten nicht bei uns, sie werden
            ausschließlich an unseren Zahlungsdienstleister übermittelt.
        </div>
    {% else %}
        <div>
            <b>Why do I have to re-enter my payment information with every order?</b>
        </div>
        <div class="mt-5">
            For data protection and security reasons, we do not store your credit card data with us, they are only
            transmitted to our payment service provider.
        </div>
    {% endif %}
{% endif %}





