{% extends "_layouts/cp.html" %}
{% set title = "#{ad.title} (ID: #{ad.id})" %}
{% import '_includes/forms.html' as forms %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: "Ads", url: url('ads') },
] %}

{% block content %}
    {{ csrfInput() }}
    {{ actionInput('ads/ads/update') }}
    {{ redirectInput('ads') }}
    {{ hiddenInput('id', ad.id) }}

    {% namespace 'ad' %}

        {{ forms.selectField({
            label: ad.getAttributeLabel('type'),
            name: 'type',
            value: ad.type,
            options: [
                {label: 'Search', value: 'search'},
                {label: 'Offer', value: 'offer'}
            ],
            first: true
        }) }}

        {{ forms.textField({
            label: ad.getAttributeLabel('title'),
            name: 'title',
            value: ad.title,
            maxlength: 50,
            errors: ad.errors('title')
        }) }}


        {{ forms.textAreaField({
            label: ad.getAttributeLabel('text'),
            name: 'text',
            class: 'nicetext',
            rows: 4,
            value: ad.text,
            errors: ad.errors('text'),
        }) }}

        {{ forms.textField({
            label: ad.getAttributeLabel('email'),
            name: 'email',
            value: ad.email,
            errors: ad.errors('email')
        }) }}

        {{ forms.selectField({
            label: ad.getAttributeLabel('status'),
            name: 'status',
            value: ad.status,
            options: [
                {label: 'Open', value: 'open'},
                {label: 'Closed', value: 'closed'}
            ]
        }) }}

    {% endnamespace %}

{% endblock %}

{% block details %}
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">Created at</h5>
            <div class="value">
                {{ ad.dateCreatedLocal|datetime('Y-m-d G:i') }}
                {{ ad.expired ? '<div class="error">Expired</div>' }}
            </div>
        </div>
        <div class="data">
            <h5 class="heading">Updated at</h5>
            <div class="value">
                {{ ad.dateUpdatedLocal|datetime('Y-m-d G:i') }}
            </div>
        </div>
    </div>

    {% if ad.active %}
        <div class="data">
            <a class="btn" href="{{ ad.url }}" target="_blank">Show</a>
        </div>
    {% endif %}

{% endblock %}
