{% set languages = product.languages.all %}
{% if languages %}
    <div class="my-2">
        {% for language in languages %}
            {{ language.title }}{{ not loop.last ? ', ' }}
        {% endfor %}
    </div>
{% endif %}

<div class="my-2">
    {{ 'Delivery Time'|t }}: {{ product.deliveryPeriod }} {{ 'days'|t }}
</div>
